body: { margin: 0px; padding:0px}

#game {
  background-color:blue;
  border: 4px solid #666
}

#scorecard {
  position: relative;
  left: -4px;
  background-color: #666;
}

.frontsky {
  background-color:blue;
}

a:visited.front, a:link.front, a:hover.front{
  color: white;
}

#newgame {
  font-size: 40px
}

.maintitle {
  color: white;
}

#opponent {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-left:25px
}

.whiteplane {
  position:absolute;
  top: 290px;
  left: 340px;
  width: 126px;
  height: 60px;
  transform: rotate(25deg);
}

.redplane {
  position:absolute;
  top: 220px;
  left: 150px;
  width: 126px;
  height: 60px;
  transform: rotate(15deg);
}
